<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>CodeLife</title>
  {{{_sections.head}}}
</head>

<body>
  <nav class="l-menu-header">
    <div class="l-menu-nav-bar">
      <div class="l-menu-navbar">
        <div class="c-menu-logo">
          <a href="/" data-test-id="home">
            <img src="./img/logo.jpg" alt="logo do compet">
          </a>
        </div>
        <div class="c-menu-user">
          <p>usuário logado: </p>
          {{{_sections.menuUser}}}
        </div>
      </div>
    </div>
    <div class="l-menu-nav-bar">
      <div class="l-menu-navbar">
        <div class="c-menu-item">
          <a href="/about" data-test-id="about">
            <p>about</p>
          </a>
        </div>
        <div class="c-menu-item">
          <a href="/cookieSort" data-test-id="cookieSort">
            <p>cookieSort</p>
          </a>
        </div>
      </div>
    </div>
  </nav>
  {{{body}}}
  {{{_sections.scripts}}}
</body>
</html>