<h2>Faça upload de uma foto para vê-la abaixo</h2>
<div class="l-container">
  <div class="l-profile-photo ">
    <img src=""class="c-profile-photo hidden">
  </div>
  <div class="l-form">
    <form role="form" id="uploadPhoto" enctype="multipart/form-data">
      <div class="c-input">
        <input type="file" id="fieldPhoto" name="photo" accept="image/*" required>
      </div>
      <div class="c-button">
        <button type="submit"> Registre-se</button>
      </div>
    </form>
  </div>
</div>
{{#section "scripts"}}
<script>
  document
    .getElementById("uploadPhoto")
    .addEventListener("submit", (e) => {
      e.preventDefault();
      const body = new FormData(e.target);
      const container = document.querySelector(".l-container");
      const photo = document.querySelector("img.c-profile-photo")
      const url = '/api/upload-photo/';
      fetch(url, { method: "post", body })
        .then((response) => {
          if (response.status < 200 || response.status >= 300) {
            throw new Error(` Requisição falhou com erro ${response.status}`);
          }
          return response.json();
        })
        .then((json) => {
          photo.setAttribute("src",`./tmp/${json}`)
          photo.classList.remove("hidden")
        })
        .catch((err) => {
          const feedback=document.createElement("b");
          feedback.innerHTML=
            "Ocorreu um erro ao processar sua imagem, tente novamente mais tarde";
          container.insertAdjacentElement("afterbegin", feedback);
        });
    });

</script>
{{/section}}