<div class="l-container">
  <div class="l-form">
    <form action="/basicForm/process" method="post">
      <div class="c-input">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" aria-labelledby="email"placeholder="Digite seu email">
      </div>
      <div class="c-input">
        <label for="username">Nome</label>
        <input type="username" name="username" id="username" aria-labelledby="username" placeholder="Digite seu nome">
      </div>
      <div class="c-button">
        <button type="submit"> Submit</button>
      </div>
    </form>
  </div>
</div>