<div class="l-container">
  <h1>
    Testando sua sorte
  </h1>
  {{#if codelifer}}
  <div class="c-codelifer">
    <p>E aí {{codelifer}}, a sorte de hoje é:</p>
  </div>
  {{/if}}
  {{#if fortune}}
  <div class="c-fortune">
    <blockquote>{{fortune}}</blockquote>
  </div>
  {{/if}}
</div>