<div class="l-container">
  <div class="l-form">
    <form action="http://localhost:4000/api/tours" method="post">
      <div class="c-input">
        <label for="userId">id</label>
        <input type="number" name="id" id="id" aria-labelledby="userId" placeholder="Digite seu id">
      </div>
      <div class="c-input">
        <label for="username">Nome</label>
        <input type="username" name="name" id="username" aria-labelledby="username" placeholder="Digite seu nome">
      </div>
      <div class="c-input">
        <label for="price">price</label>
        <input type="number" name="price" id="price" aria-labelledby="price" placeholder="Digite o preco">
      </div>
      <div class="c-button">
        <button type="submit"> Submit</button>
      </div>
    </form>
  </div>
</div>