<h2>Entre ou cadastre-se</h2>
<div class="l-container">
  <div class="l-form">
    <form role="form" id="loginForm" action="/auth/login" method="post">
      <div class="c-input">
        <label for="fieldName">Username</label>
        <input type="text" id="fieldName" name="username">
      </div>
      <div class="c-input">
        <label for="fieldPassword">Password</label>
        <input type="password" id="fieldPassword" name="password" required>
      </div>
      <div class="c-button">
        <button type="submit"> Login</button>
      </div>
      <div class="c-button">
        <a href="/register">ou cadastre-se</a>
      </div>
    </form>
  </div>
</div>
