<h2>Se inscreva na nossa newsletter para receber novidades sobre nosso projeto!</h2>
<div class="l-container">
  <div class="l-form">
    <form role="form" id="newsletter-signup-form" action="/newsletter-signup/process" method="post">
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <div class="c-input">
        <label for="fieldName">Name</label>
        <input type="text" id="fieldName" name="name">
      </div>
      <div class="c-input">
        <label for="fieldEmail">Email</label>
        <input type="email" id="fieldEmail" name="email" required>
      </div>
      <div class="c-button">
        <button type="submit"> Submit</button>
      </div>
    </form>
  </div>
</div>