<h2>Faça seu cadastro</h2>
<div class="l-container">
  <div class="l-form">
    <form role="form" id="loginForm" action="/auth/register" method="post">
      <div class="c-input">
        <label for="fieldName">Username</label>
        <input type="text" id="fieldName" name="username" placeholder="insert username">
      </div>
      <div class="c-input">
        <label for="fieldPassword">Password</label>
        <input type="password" id="fieldPassword" name="password" required placeholder="insert password">
      </div>
      <div class="c-input">
        <label for="fieldPasswordConfirmation">Password confirmation</label>
        <input type="password" id="fieldPasswordConfirmation" name="confirmPassword" placeholder="insert password confirmation" required>
      </div>
      <div class="c-button">
        <button type="submit"> Register</button>
      </div>
    </form>
  </div>
</div>
