body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.fortuneCookie{
    position: static;
    margin: auto;
    left: 40px;
    right: 40px;
}
.fortuneCookie>blockquote{
    position: relative;
    margin: auto;
    background-color: #2b2b2b;
    color: rgba(212, 212, 212, 0.76);
    margin: 10px;
    padding: 20px;
    border: solid 2px green;
    text-align: center;
    width: 200px;
}