@import url("normalize.css");

:root {
    --text-black: rgb(34, 34, 34);
    --top-color: rgb(0, 187, 255);
    --bottom-color: white;
    --my-gradient: linear-gradient(var(--top-color), var(--bottom-color));
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: var(--my-gradient);
    height: 100vh;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.fortuneCookie {
    position: static;
    margin: auto;
    left: 40px;
    right: 40px;
}

.fortuneCookie>blockquote {
    --my-gradient: linear-gradient(var(--top-color), var(--text-black));
    position: relative;
    margin: auto;
    color: rgba(212, 212, 212, 0.76);
    margin: 10px;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    width: 200px;
}

.l-menu-header {
    background-color: rgba(255, 255, 255, 0.774);
    color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
}

.l-menu-nav-bar {
    width: 40%;
    display: flex;
    justify-content: center;
}

.l-menu-navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.c-menu-logo {
    padding: 0 .4em 0 .4em;
}

.c-menu-item {
    border-radius: 2em;
    padding: 0 .4em 0 .4em;
}

.c-menu-user {
    border-radius: 2em;
    padding: 0 .4em 0 .4em;
}

.l-menu-navbar .c-menu-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.l-menu-navbar .c-menu-user {
    display: flex;
    justify-content: center;
}

.l-menu-navbar .c-menu-user {
    display: flex;
    justify-content: center;
}

.c-menu-user p {
    margin: .2em;
}

.c-menu-user p:hover {
    opacity: 70%;
    cursor: pointer;
}


.c-menu-item p {
    margin: .2em;
}

.c-menu-item p:hover {
    opacity: 70%;
    cursor: pointer;
}

.c-menu-logo img {
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 100%;
}
.c-menu-logo img:hover {
    cursor: pointer;
    opacity: 70%;
}